<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>Gentoo Portage</vendor>
  <vendor_url>https://github.com/schmidicom/polkit-enhance</vendor_url>
  <icon_name>system-software-install</icon_name>
  
  <action id="org.gentoo.portage.emerge">
    <message>Authentication is required to run "emerge" with administratives rights.</message>
    <message xml:lang="de">Es ist eine Authentifizierung notwendig um "emerge" mit Administratorenrechten auszuführen.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/emerge</annotate>
  </action>

  <action id="org.gentoo.portage.euse">
    <message>Authentication is required to run "euse" with administratives rights.</message>
    <message xml:lang="de">Es ist eine Authentifizierung notwendig um "euse" mit Administratorenrechten auszuführen.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/euse</annotate>
  </action>

  <action id="org.gentoo.portage.etc-update">
    <message>Authentication is required to run "etc-update" with administratives rights.</message>
    <message xml:lang="de">Es ist eine Authentifizierung notwendig um "etc-update" mit Administratorenrechten auszuführen.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/etc-update</annotate>
  </action>

</policyconfig>
